# Python virtual environment
.venv/
venv/
env/

# Byte-code files
*.pyc
__pycache__/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# IDE files (example for VS Code, PyCharm)
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

cefpygame/blob_storage
cefpygame/webrtc_event_logs
cefpygame/debug.log
cefpygame/error.log
